.text {
  background-color: white;
  color: black;
}

.text2 {
  background-color: black;
  color: white;
}
.text3 {
  background-color: cornflowerblue;
  color: rgb(185, 1, 1);
}

#myModal {
  width: 120px;
  height: 200px;
}
